<footer class="page-footer font-small  pt-4 mt-5 navbar-dark bg-dark " style="color: white; font-size: 1em;">
    <div class="container text-center text-md-left">
      <div class="row">

             
            <div class="col-md-4 mx-auto">
              <h5 class="font-weight-bold ">fastMed</h5>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 80px; background-color:#33b5e5;">
              <p>Wellcome To fastMed......<br>
                © 2020-2020 Copyright: fastMed
              </p>
            </div>

                    
            <div class="col-md-4 mx-auto">
              <h5 class="font-weight-bold ">USEFUL LINKS</h5>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 80px; background-color:#33b5e5;">
              <ul class="list-unstyled">
                <li>
                  <a href="#!">OUR Team</a>
                </li>
                <li>
                  <a href="#!">Help</a>
                </li>
              </ul>
            </div>
  
        
            <div class="col-md-4 mx-auto">
              <h5 class="font-weight-bold  ">CONTACT</h5>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 80px; background-color:#33b5e5;">
                <ul class="list-unstyled">
                  <p>
                    <i class="fa fa-home mr-3" aria-hidden="true"></i> Uttara,Dhaka-1230,Bangladesh</p>
                  <p>
                    <i class="fa fa-envelope mr-3"></i> fastMedinfo@gmail.com</p>
                  <p>
                    <i class="fa fa-phone mr-3"></i>+880 153 357 0798</p>
                  <p>
                    <i class="fa fa-phone mr-3"></i> +880 140 013 7837</p>
                  </ul>
              </div>  

    </div>
  </div> 
  

   <hr style="background-color: red; width: 50%;"> 

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center" id="icon" >
    <li class="list-inline-item p-3">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
      </a>
    </li>

    <li class="list-inline-item p-3">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter fa-3x "> </i>
      </a>
    </li>

    <li class="list-inline-item p-3">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-youtube fa-3x" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  

  <!-- Copyright -->
  
  <div class=" text-center py-3" style="background-color:#212121;">All rights reserved &copy;Fahad
  </div>


</footer>